+++
title = "A-Z Cloud"
linkTitle = "A-Z Cloud"

+++

{{< blocks/cover title="Welcome to A-Z Cloud!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/dsc-vjti/a-z-cloud">
		Contribute! <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">Learn the A-Z of cloud in 26 days!</p>
	<p class="lead mt-2">An initiative by the Cloud Computing Core Team at GDSC VJTI</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Goldydocs provides a single web UI providing visibility into porridge temperature, chair size, and bed softness metrics! You can even find out who's been eating **your** porridge.

(Sadly, Goldydocs isn't a real project, but you can use this site as an example to create your own real websites with [Docsy](http://docsy.dev))
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/dsc-vjti/a-z-cloud" %}}
We do a [Pull Request](https://github.com/dsc-vjti/a-z-cloud/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/gdsc_vjti" %}}
For all the announcements
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Join our Slack workspace!" url="https://join.slack.com/t/dsc-vjti/shared_invite/zt-15qodibab-LyynORbBpcthuKe6aQP6lw" %}}
To be a part of the community!
{{% /blocks/feature %}}

{{< /blocks/section >}}
